@font-face {
    font-family: 'digital-7_monomono';
    src: url( 'digital-7_mono-webfont.woff2' ) format( 'woff2' ),
         url( 'digital-7_mono-webfont.woff' ) format( 'woff' );
    font-weight: normal;
    font-style: normal;
}

#sudoku-board {
    border-collapse: collapse;
    width: 550px;
    height: 550px;
}

.cell {
    border: 2px solid black;
    padding: 0.5rem;
}

.bold {
    border: 4px solid black;
}

.cell-display {
    background-color:rgba( 1, 1, 1, 0 );
    font-size: 2rem;
    text-align: center;
    width: 2.5rem;
    border: none;
    outline: none;
}

.highlight {
    background-color: rgba( 255, 255, 0, 0.5 );
}

.clue {
    font-weight: bold;
    font-style: oblique;
    color: blue;
}

.incorrect {
    font-weight: bold;
    font-style: oblique;
    color: red;
}

.solution {
    font-weight: bold;
    font-style: oblique;
    color: green;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Grid Layout */

body {
    display: grid;
    grid-template-rows: 125px 30px 1fr;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    background: black;
}

#player-info {
    display: grid;
    justify-content: end;
    align-items: center;
    align-content: center;
    margin-right: 50px;
}

#logo {
    align-self: center;
    margin-left: 50px;
    font-size: 3.5rem;
}

content {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: auto 1fr 35px;
    justify-content: center;
    justify-items: center;
}

#timer-section {
    grid-row: span 3;
    text-align: center;
}

#timer-text {
    font-size: 2rem;
}

#timer-value {
    background-color: black;
    color: white;
    padding: 0.5rem;
    font-family: 'digital-7_monomono';
    src: url( 'digital-7_mono-webfont.woff2 ') format( 'woff2' );
    font-size: xx-large;
}

#board-name {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    border: none;
    outline: none;
}

/****************** MODAL STYLING ********************/

#modal-background{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.651);  
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#modal-container {
    min-height: 40vh;
    width: 60vw;
    background: rgb(236, 236, 236);
    z-index: 1500;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px black;
    border: 1px solid #000;
    display: grid;
}

.hidden,
#modal-container.hidden,
#modal-background.hidden {
    display: none;
}

